@charset "UTF-8";
/* //RESET CSS ERIC MEYER SASS ////////////////////////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* //FIN RESET CSS ERIC MEYER /////////////////////////////////////////////// */
/* VARIABLES     //////////////////////////////////////////////////////////// */
/* CSS HEADER //////////////////////////////////////////////////////////////  */
#responsive-menu-container .logo-menu-responsive img {
  max-width: 90%;
  margin: 0 auto; }

.access {
  margin-top: 30px;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .access a {
    padding: 20px !important; }
    .access a i {
      font-size: 40px;
      display: inline-block; }

.ancho-limitado {
  width: 1200px; }

.ancho-completo {
  width: 100%; }

.main-header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .main-header:first-child {
    text-align: left; }
  .main-header:last-child {
    text-align: right; }
  .main-header .contenedor {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    z-index: 10; }

nav {
  order: 2;
   }
  nav ul {
    display: inline-flex;
    flex-wrap: nowrap; }
    nav ul li {
      padding: 20px;
       }
      nav ul li a {
        text-decoration: none;
        width: 100%;
        padding: 0; }
    

.ali-derecha {
  order: 3;
  text-align: right; }

.ali-izquierda {
  order: 1;
  text-align: left; }

.ali-centro {
  order: 2;
  text-align: center;
  margin: 0 auto; }

/*Top Header */
.top_header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between; }

/* css contenedor ///////////////// */
.contenedor {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; }

/* CSS FOOTER /////////////////////////////////////////////////////////////// */
.footer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center; }

/* Sub-Footer */
.ancho-limitado-sub-footer {
  width: 1200px; }

.ancho-completo-sub-footer {
  width: 100%; }

.sub-footer {
  display: flex;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-between; }

/* CSS CUERPO /////////////////////////////////////////////////////////////// */
.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

body {
  box-sizing: border-box; }

.full-width {
  width: 100%;
  display: block;
  padding: 0 10px; }

.width-limitado {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0 10px; }

/**CSS TEXTO FOOTER SEO TIRA DE NIÑOS --------------------*/
#tira-seo, .footer-seo {
  padding: 0; }
  #tira-seo .wrap-with, .footer-seo .wrap-with {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center; }
    #tira-seo .wrap-with .parallax-visible, .footer-seo .wrap-with .parallax-visible {
      width: 100%; }
      #tira-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer, .footer-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer {
        font-size: 17px;
        letter-spacing: 0;
        font-weight: 700;
        text-align: center; }
        #tira-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a, .footer-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a {
          text-align: center;
          cursor: pointer; }
          #tira-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a i, .footer-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a i {
            padding-left: 15px;
            padding-right: 15px; }
        #tira-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a:link, #tira-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a:visited, .footer-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a:link, .footer-seo .wrap-with .parallax-visible .fondo .contenedor .titulo-footer a:visited {
          text-decoration: none;
          align-items: center; }
    #tira-seo .wrap-with .contenedor .parallax-content, .footer-seo .wrap-with .contenedor .parallax-content {
      overflow: hidden; }
      #tira-seo .wrap-with .contenedor .parallax-content .parallax-content-inner, .footer-seo .wrap-with .contenedor .parallax-content .parallax-content-inner {
        padding-bottom: 2em;
        text-align: justify;
        line-height: 1.7em;
        padding-bottom: 20px; }
        #tira-seo .wrap-with .contenedor .parallax-content .parallax-content-inner h2, .footer-seo .wrap-with .contenedor .parallax-content .parallax-content-inner h2 {
          padding: 15px 0; }
  #tira-seo .short, .footer-seo .short {
    transition: all 1s linear;
    max-height: 0;
    opacity: 0; }
  #tira-seo .large, .footer-seo .large {
    transition: all 1s linear;
    max-height: 2000px;
    opacity: 1; }

/**FIN CSS FOOTER SEO  */
/*CSS PAGINA CONTACTO ///////////////////////////////*/


.mapa .contenedor .bloques {
  display: flex;
  align-items: end;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }

.legal {
  padding-top: 310px; }
  .legal .contenedor .bloque-content {
    padding: 50px 20px 150px 20px; }
    .legal .contenedor .bloque-content h2, .legal .contenedor .bloque-content h3 {
      line-height: 40px; }
    .legal .contenedor .bloque-content h2 {
      font-size: 28px;
      padding: 40px 0 20px 0; }
    .legal .contenedor .bloque-content h3 {
      font-size: 25px;
      padding: 20px 0 10px 0; }
    .legal .contenedor .bloque-content p {
      font-size: 15px;
      line-height: 1.6em;
      padding-bottom: 20px; }

.default {
  padding: 60px 0;
  text-align: left; }
  .default .contenedor {
    margin: 0 auto; }
    .default .contenedor .bloque-content {
      padding: 0 20px;
      max-width: 100%; }
  .default ul {
    list-style: square;
    padding: 10px 20px; }
    .default ul li {
      line-height: 25px; }
      .default ul li ul {
        list-style: none; }
        .default ul li ul li::before {
          content: '✓'; }
  .default h1 {
    font-size: 28px;
    padding: 50px 0; }
  .default h2, .default h3, .default h4 {
    font-size: 25px;
    font-weight: 700;
    padding: 30px 0 15px; }
  .default P {
    font-size: 14px;
    padding-bottom: 20px; }
  .default img {
    max-width: 90%;
    text-align: center; }
  .default .no-found {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0; }

#acordeon .transition, #acordeon .contenido, #acordeon ul li i:before, #acordeon ul li i:after {
  transition: all 0.25s ease-in-out; }

#acordeon .flipIn, #acordeon ul li {
  animation: flipdown 0.5s ease both; }

#acordeon .no-select, #acordeon .tit {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#acordeon .tit {
  padding-left: 20px;
  font-size: 25px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer; }

#acordeon .contenido {
  padding: 0 20px;
  color: #000;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2; }

#acordeon ul {
  perspective: 900;
  padding: 0;
  margin: 0; }
  #acordeon ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px solid #000; }
    #acordeon ul li:nth-of-type(1) {
      animation-delay: 0.5s; }
    #acordeon ul li:nth-of-type(2) {
      animation-delay: 0.75s; }
    #acordeon ul li:nth-of-type(3) {
      animation-delay: 1.0s; }
    #acordeon ul li:last-of-type {
      padding-bottom: 0; }
    #acordeon ul li i {
      position: absolute;
      transform: translate(-6px, 0);
      margin-top: 16px;
      left: 0;
      padding-right: 20px; }
      #acordeon ul li i:before, #acordeon ul li i:after {
        content: "";
        position: absolute;
        background-color: #000;
        width: 3px;
        height: 9px; }
      #acordeon ul li i:before {
        transform: translate(-2px, 0) rotate(45deg); }
      #acordeon ul li i:after {
        transform: translate(2px, 0) rotate(-45deg); }
    #acordeon ul li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; }
      #acordeon ul li input[type=checkbox]:checked ~ div {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%); }
      #acordeon ul li input[type=checkbox]:checked ~ i:before {
        transform: translate(2px, 0) rotate(45deg); }
      #acordeon ul li input[type=checkbox]:checked ~ i:after {
        transform: translate(-2px, 0) rotate(-45deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }
