//COLORES
$blanco: #fff
$negro: #000
$azul: #1D754B
$rojo: #eb2123
$azul-dark: #27417a
$text-primary: #1e1e1e
$text-secundary: #2d2d2d
$text-subfooter: #383836
$gris-claro: #f2f2f2
$gris-medio: #f5f5f5

// Google Fonts

@font-face
  font-family: 'open-sans'
  font-display: swap
  src: url('../inc/google-font/Open_Sans/OpenSans-Light.ttf') format('truetype')
  font-weight: 300

@font-face
  font-family: 'open-sans'
  font-display: swap
  src: url('../inc/google-font/Open_Sans/OpenSans-Bold.ttf') format('truetype')
  font-weight: 700  
  
@font-face
  font-family: 'roboto'
  font-display: swap
  src: url('../inc/google-font/Roboto/Roboto-Bold.ttf') format('truetype')
  font-weight: 700 

@font-face
  font-family: 'roboto'
  font-display: swap
  src: url('../inc/google-font/Roboto/Roboto-Medium.ttf') format('truetype')
  font-weight: 500  

@font-face
  font-family: 'roboto'
  font-display: swap
  src: url('../inc/google-font/Roboto/Roboto-Regular.ttf') format('truetype')
  font-weight: 400

@font-face
  font-family: 'roboto'
  font-display: swap
  src: url('../inc/google-font/Roboto/Roboto-Light.ttf') format('truetype')
  font-weight: 300  

@font-face
  font-family: 'Font-aweson'
  font-display: swap
  src: url('../inc/fontawesome/webfonts/fa-solid-900.ttf') format('truetype')

@font-face
  font-family: 'Font-aweson-brand'
  font-display: swap
  src: url('../inc/fontawesome/webfonts/fa-brands-400.ttf') format('truetype')

a
  text-decoration: none
p, li, a 
  font-family: "roboto" 
  font-size: 18px
  line-height: 22px 
strong
  font-weight: 700
#responsive-menu-container  
  .logo-menu-responsive
    text-align: center
    img 
  .access
    margin-top: 20px
  .horario
    padding-top: 15px
button#responsive-menu-button
  top: 45px
// BODY ///////////////////////////////////////////////////////////////////// ***/
html
  scroll-behavior: smooth
main
  box-sizing: border-box
  padding: 0 
  width: 100%
  position: relative
  overflow-x: hidden
///Header/////////////////////////////////////////////////////////////////////////////
header
  text-align: center
  max-width: 100% 
  position: relative
//Main-header-----------------------------------------------------------------
.top-header
  position: fixed
  top: 0
  z-index: 10
  width: 100%
  background: $azul
  border-top: 5px solid $blanco
  .content
    display: flex
    align-content: center
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    width: 98%
    margin: 0 auto
    max-width: 1200px
    .cont-top
      margin: 0 auto 
      width: 95%
      display: flex
      justify-content: space-between
      align-content: center
      align-items: center
      flex-wrap: wrap
      padding: 5px 0
      .whatsapp, .tel-header
        max-width: 50%
        a 
          color: $blanco
          font-family: "roboto"
          display: inline-block
          padding: 0 10px
          line-height: 28px
          border: 1px solid $azul
          border-radius: 8px 
          transition: all 500ms linear
          -webkit-transition: all 500ms linear
          -moz-transition: all 500ms linear
          -o-transition: all 500ms linear
          font-size: 13px
        i 
          font-size: 17px  
        a:hover
          border: 1px solid $blanco
          background: $blanco
          color: $azul
          transition: all 500ms linear
          -webkit-transition: all 500ms linear
          -moz-transition: all 500ms linear
          -o-transition: all 500ms linear
          i
            color: $azul
        img
          max-width: 20px
          margin-left: 5px
          vertical-align: middle
      .tel-header
        i 
          color: #F2F2F2
          display: inline-block
          margin-left: 5px
    
.main-header
  width: 100%
  box-shadow: 0px 10px 14px -12px rgba($negro,0.65)
  position: fixed
  margin-top: 44px
  background-color: $blanco
  z-index: 100
  .content
    width: 100%
    max-width: 1200px
    margin: 0 auto 
    .logo-menu
      margin: 0 auto
      max-width: 95%
      width: 100%
      .logo
        a 
          background-color: $blanco
          display: inline-block
          img 
            transition: all 0.3s ease-in-out 0s
            max-height: 68px
            width: auto
            background-color: transparent
      .sticky
        right: 80%
        a 
          img 
            transition: all 0.3s ease-in-out 0s
            max-height: 60px 
      .izquierda
        text-align: left
        position: relative
        z-index: 10
        top: 0
        a 
          padding: 10px 5px
      .derecha      
        text-align: right
        z-index: 10
        position: absolute
        right: 150px
        left: 0
        top: 0
        a 
          padding: 10px 5px
    .menu
      width: 100%        
      height: 49px
    nav 
      background: $blanco
      position: relative
      display: block
      width: 100%
      border-top-right-radius: 10px
      border-top-left-radius: 10px
      .contenedor
        display: flex
        justify-content: center
        align-content: center
        align-items: center
        flex-wrap: nowrap
        max-width: 1200px
        width: 95%
        margin: 0 auto
      a 
        font-family: "open-sans"
        font-weight: 700
        font-size: 18px
        line-height: 24px
        text-align: center
        color: $text-primary  
        text-transform: uppercase
      ul 
        list-style: none
        li 
          height: 47px
          display: flex
          justify-content: center
          align-content: center
          align-items: center
          flex-wrap: nowrap
          padding: 0px 15px
          text-align: center
          position: relative
          transition: all 500ms linear
          -webkit-transition: all 500ms linear
          -moz-transition: all 500ms linear
          -o-transition: all 500ms linear
          border-bottom: 2px solid $blanco
          a 
            font-size: 14px
            display: block
            width: 100%
            font-family: "open-sans"
            font-weight: 700
            img 
              max-width: 22px
              height: auto
              vertical-align: middle
              filter: invert(0)
              
          ul.sub-menu
            display: block
            min-width: 235px
            position: absolute
            visibility: hidden
            opacity: 0
            transform: scaleY(0)
            -webkit-transform: sclaeY(0)
            -khtml-transform: scaleY(0)
            -moz-transform: scaleY(0)
            -ms-transform: scaleY(0)
            -o-transform: scaleY(0)
            transform: scaleY(0)
            transform-origin: 0 0 0
            -ms-transform-origin: 0 0 0
            -o-transform-origin: 0 0 0
            -webkit-transform-origin: 0 0 0
            clip: rect(1px,1px,1px,1px)
            transition: all .3s linear 0ms
            box-shadow: 0 8px 83px rgba( 40,40,40,.08)
            top: 100%  
            margin-top: 2px
            background: $blanco 
            left: 0 
            border-radius: 0 0 7px 7px
            li 
              position: relative
              white-space: nowrap
              border-bottom: none
              a 
                text-align: left
                color: $text-primary  
            li:last-child
              border-radius: 0 0 7px 7px    
        li:hover 
          border-bottom: 2px solid $azul
          transition: all 500ms linear
          -webkit-transition: all 500ms linear
          -moz-transition: all 500ms linear
          -o-transition: all 500ms linear 
          a
            color: $azul
          ul.sub-menu                  
            clip: inherit
            visibility: visible
            opacity: 1
            transform: scaleY(1)
            transition: all .3s linear 0ms
            li:hover
              border-bottom: none
              background-color: $azul
              a 
                color: $blanco
  .center
    padding-top: 65px
    .logo-menu
      .logo
        position: fixed
        top: 54px
        right: 65%
        left: 0
        z-index: 10
        a
          padding: 10px 25px
          filter: none
        a::before, a::after
          display: none
          content: ""
          background: $blanco 
          position: absolute
          z-index: -1
          width: 50%
          height: 35px
          bottom: -13px
        a::before
          right: 0px
          border-color: transparent $blanco transparent transparent 
          transform: skewY(10deg)
        a::after
          left: 0px
          border-color: transparent transparent transparent $blanco
          transform: skewY(-10deg)
      .sticky
        right: 80%
        a 
          img 
            transition: all 0s ease-in-out 0s
            max-height: 53px 
        a::before
          right: 0px 
          bottom: -4px
          width: 100%
        a::after
          width: 100%  
          bottom: -4px      
#responsive-menu-container
  #responsive-menu-wrapper
    ul 
      li 
        a 
          img 
            max-width: 20px  
#responsive-menu-additional-content
  .whatsapp, .tel-header
    a 
      padding: 20px 10px
      display: block
      text-align: center
      color: $text-primary
      font-size: 22px
      img 
        max-width: 40px 
        vertical-align: middle 
        padding-left: 8px  
      i 
        padding: 0 10px 
        font-size: 30px  
    a:hover
      color: $azul
  .logo-menu-responsive
    padding-top: 50px
    img 
      max-width: 150px                       
.sticky-nav
  .center
    padding-top: 50px  
  
button#responsive-menu-button
.responsive-menu-box
  padding-right: 5%            
  
// CSS PAGINA INICIO ////////////////////////////////////////////////////////////////////////////////////////////////////////
.banner-home
  margin-top: 147px
  .wp-block-cover__inner-container
    max-width: 1200px
    width: 80%
    margin: 0 auto
  .has-large-font-size
    font-family: "roboto" 
    line-height: 40px
  hr 
    max-width: 500px 
.home 
  main
    .contenedor
      .bloques
        position: relative
        .fondo 
          background-image: url("/wp-content/uploads/2020/09/fondo.png") 
          background-repeat: repeat
          width: 100%
          height: 100%
          min-height: 1200px
          position: absolute
          top: 0
          z-index: -1
          img 
            width: 100%
            height: 100%
            z-index: -1
            position: absolute
            top: 0
            left: 0
            object-fit: cover
            object-position: center                 
main
  .contenedor
    max-width: 100%
    text-align: center
  .titulo
    font-size: 28px
    font-family: "roboto"
    font-weight: 500
    color: $azul
    line-height: 35px
    padding: 10px 10px 20px
    display: inline-block
    position: relative
    text-align: center
  .titulo::after, .titulo::before
    content: ""
    position: absolute
    width: 120px
    height: 3px
    background-color: $azul
    top: 50%
  .titulo::before
    left: -140px
  .titulo::after
    right: -140px  
.bloques
  padding-top: 100px     
//Css común bloques
.container
  max-width: 1200px
  width: 90%
  margin: 0 auto
  padding-bottom: 100px
  .wc-block-grid__product-title
    font-size: 16px
    color: $text-primary
    font-family: "roboto"
    min-height: 40px
    padding: 0 5px
  .wc-block-grid__product-image
    position: relative      
//BLOQUE PRODUCTOS NUEVOS
.nuevos
  .container
  .pro-nuevos
    width: 100%
    .woocommerce
      ul.products //ul
        width: 100%
        margin: 0
        li.product //li
          width: 100%
          position: relative
          a.woocommerce-LoopProduct-link
            img 
              width: 100%
              height: 100%
              max-height: 300px
              object-fit: cover
              object-position: center
              -webkit-transition: all .9s ease // Safari y Chrome 
              -moz-transition: all .9s ease // Firefox */
              -o-transition: all .9s ease //* IE 9 */
              -ms-transition: all .9s ease //* Opera */
            .woocommerce-loop-product__title
              font-size: 16px
              color: $text-primary
              font-family: "roboto"
              padding: 0 5px
              font-weight: 700
              line-height: 1.2em
              display: block
              min-height: 40px
              margin: 0 0 12px    
          a.woocommerce-LoopProduct-link:hover, .taphover:hover
            img 
              filter: brightness(0.5)   
          .button
            font-family: "roboto"
            color: $azul
            padding: 5px 0
            background-color: $gris-medio
            border: 2px solid $gris-medio
            border-radius: 8px
            display: block
            -webkit-transition: all .9s ease // Safari y Chrome 
            -moz-transition: all .9s ease // Firefox */
            -o-transition: all .9s ease //* IE 9 */
            -ms-transition: all .9s ease //* Opera */
          .button:hover, .taphover:hover
            color: $azul 
            background-color: $blanco
            box-shadow: 0 10px 14px -12px rgba(0, 0, 0,.65)
            border: 2px solid $azul
          .price
            position: absolute
            top: 15px
            left: 15px
            background-color: $blanco
            border-radius: 5px
            .amount
              font-family: "roboto"
              color: $text-primary
              padding: 8px
              font-size: 20px
              font-weight: 700    
    
//Bloque compra por categoría
.categoria
  .container
  .woocommerce  
    ul.products::before, ul.products::after
      display: none  
  ul
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    flex-wrap: wrap
    margin-bottom: 0
    li 
      width: 29%!important 
      margin-right: 0!important
      filter: drop-shadow(2px 4px 6px black)
      img 
        z-index: -1
        filter: grayscale(1)
      .count
        display: none 
      .woocommerce-loop-category__title
        display: block  
        position: absolute
        top: 0
        width: 100%
        background: $negro
        color: $blanco
        font-family: "roboto"
        font-weight: 700 
        top: 42% 
    li:hover
      img 
        filter: grayscale(0)    
//Bloque destacados Carrusel
.destacados
  .container
    max-width: 1200px
    width: 90%
    margin: 0 auto
    .pro-destacados
      .products //ul
        display: flex
        justify-content: space-between
        .slick-list
          max-width: 88%
          margin: 0 auto
        .slick-slide
          margin-left: 25px  
        .slick-prev, .slick-next
          width: 6%
          background-color: transparent
          color: $azul
          border: none 
          cursor: pointer
          font-size: 28px
        button:focus, button:hover
          outline: none
          filter: drop-shadow(1px 2px 3px #413d3d)
        .product //li   
          max-width: 90%
          margin: 0 auto
          position: relative
          .add_to_cart_button, .button
            display: none 
          img
            width: 100%
            height: 252px  
            margin: 0  
            -webkit-transition: all .9s ease // Safari y Chrome 
            -moz-transition: all .9s ease // Firefox */
            -o-transition: all .9s ease //* IE 9 */
            -ms-transition: all .9s ease //* Opera */
          .woocommerce-loop-product__title
            font-family: "roboto"
            color: $text-primary
            background-color: $gris-claro
            margin: 0
            padding: 10px 0 12px   
          .price
            position: absolute
            top: 15px
            left: 15px
            background-color: $blanco
            border-radius: 5px
            .amount
              font-family: "roboto"
              color: $text-primary
              padding: 8px
              font-size: 20px
              font-weight: 700  
        .product:hover
          img
            filter: brightness(0.5)       
//Bloque Recomendados
//bloque texto con imagen          
.text-img
  .container 
    max-width: 1200px
    margin: 0 auto
    width: 90%
    max-height: 300px
    height: 100%
    display: flex
    justify-content: space-between
    align-content: center
    align-items: center
    flex-wrap: wrap
    padding-bottom: 100px
    .col-img
      max-width: 100%
      img 
        max-height: 200px
        width: 100%
        object-fit: cover
        object-position: center
    .col-text
      max-width: 100%
      margin: 0  
      display: flex
      justify-content: center
      align-items: stretch
      align-content: center
      flex-wrap: wrap
      .tit 
        font-family: "roboto"
        font-size: 22px 
        color: $azul
        text-align: center
        padding: 20px 10px 
      p
        font-size: 18px
        color: $text-primary
        font-family: "roboto" 
        padding: 0px 10px 20px 
.bloque-iconos
  .container
    display: flex
    justify-content: space-between
    align-content: center
    align-items: stretch
    flex-wrap: wrap
    max-width: 1200px
    width: 90%
    margin: 0 auto
  .icono
    max-width: 100%
    width: 100%
    margin: 30px 20px
    font-family: "roboto"
    a
    .ico-img
      img 
        transform: rotate(0deg)
        transition: .6s all linear
    a:hover    
      img
        transform: rotate(360deg) 
        transition: .6s all linear 
    .ico-tit
      font-size: 22px
      color: $azul
      line-height: 25px
      padding: 10px 0
    .ico-text
      p 
        line-height: 20px
        padding-bottom: 20px
        color: $text-primary

///////////////////////////////////FIN CSS PAGINA INICIO ///////////////////////////////////////////////////
/* CSS PÁGINAS INTERNAS ---------------------------------------------------------------------------------- */          
.pag-interna
  .contenedor
    a 
      font-family: "roboto"
      color: $text-primary
    a:hover 
      color: $azul  
.default
  padding: 0
  text-align: center
  .contenedor
    max-width: 1200px
    margin: 0 auto
    text-align: center
    .tit
      text-align: center
      text-transform: uppercase
//PRODUCTO
.banner-interna
  width: 100%
  margin-top: 147px
  position: relative
  max-height: 309px
  overflow: hidden
  .inner 
    background-color: rgba($negro, .7)
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
  img 
    width: 100% 
    height: 100%
    object-fit: cover 
  .titulo 
    position: absolute
    top: 30%
    left: 0
    right: 0  
    color:  $blanco
//////PAGINA CONTACTO ///////////////////////////////////////////////////////////////////////////////////////////////////////
#pag-contact
  .contenedor
    padding: 40px 0 0
    .formu-datos
      max-width: 1200px
      width: 90%
      margin: 0 auto
      .wp-block-group__inner-container
        display: flex
        justify-content: space-between
        align-content: center
        align-items: flex-start
        flex-wrap: wrap
        font-family: "roboto"
      .formu
        margin-bottom: 40px
        display: inline-block
        .wp-block-group__inner-container
          max-width: 540px
          min-width: 300px
          width: 100%
        .titulo
          text-align: left
          font-size: 22px
          display: block
          padding: 20px 0
          &::before, &::after
            width: 0
        .wpcf7
          form
            input[type=text], input[type=email], input[type=tel], textarea
              width: 100%
              max-width: 95%
              border: 2px solid #f2f2f2
              font-family: "roboto"
              font-size: 18px
              background: #f2f2f2
              border-radius: 5px
              margin-bottom: 10px
              padding-left: 10px
              outline: none
              &:active, &:focus, &:visited
                border-color: $azul
            input[type=text], input[type=email], input[type=tel]  
              height: 40px
            textarea
              padding-top: 10px
            .wpcf7-acceptance
              display: block
              line-height: 25px
              padding: 5px 0
              font-family: "roboto"
              font-size: 18px
              a 
                color: $text-primary
              a:hover 
                color: $azul   
            input[type=submit]
              background: $azul
              color: $blanco
              border: 2px solid $azul
              font-family: "roboto"
              font-size: 18px
              cursor: pointer
              border-radius: 8px
              padding: 12px 24px
              min-width: 176px
            input[type=submit]:hover
              background: $blanco
              color: $azul
              box-shadow: 0 10px 14px -12px rgba($negro, .65)  
      .datos
        margin-bottom: 40px
        display: inline-block
        .wp-block-group__inner-container
          max-width: 480px
          width: 100%
          min-width: 300px
        .titulo
          text-align: left
          font-size: 22px
          display: block
          padding: 20px 0
          &::before, &::after
            width: 0
        .direccion, .email, .tel-fijo, .tel-movil, .whatsapp, .horario
          padding-bottom: 30px
          text-align: left
          display: block
          width: 100%
          &::before
            display: inline-block
            width: 20px
            height: 20px
            font-family: "Font-aweson"
            color: $azul
          a 
            color: $text-primary
          a:hover 
            color: $azul    
        .direccion
          &::before
            content: "\f3c5"
        .email
          &::before
            content: "\f658"
        .tel-fijo
          &::before
            content: "\f2a0"
        .tel-movil
          &::before
            content: "\f3cd"
        .whatsapp
          &::before
            content: "\f232"
            font-family: "Font-aweson-brand"
        .horario
          &::before
            content: "\f017"
    .mapa  
      width: 100%
      iframe
        width: 100%
//FIN PAGINA CONTACTO ///////////////////////////////////////////////////////////////////////////////////////////////////////
//PAG TIENDA //////////////////////////
.producto
  .contenedor
    max-width: 1200px
    width: 90%
    margin: 0 auto   
.tienda
  .contenedor
    max-width: 1200px
    width: 90%
    margin: 0 auto 
    .term-description
      padding-bottom: 50px
    .woocommerce-result-count
      font-family: "roboto"
    .woocommerce-ordering
      select 
        option 
          font-family: "roboto"  
    .woocommerce      
      ul.products //ul
        li 
          a 
            display: block
            position: relative
            overflow: hidden
            img 
              // min-width: 264px
              // min-height: 331.37px
              object-fit: cover
              object-position: center
              -webkit-transition: all .9s ease // Safari y Chrome 
              -moz-transition: all .9s ease // Firefox */
              -o-transition: all .9s ease //* IE 9 */
              -ms-transition: all .9s ease //* Opera */
            img:hover 
              filter: brightness(0.5)    
            .woocommerce-loop-product__title
              font-weight: 700  
              min-height: 62px
          .price
            position: absolute
            top: 15px
            left: 15px
            background-color: $blanco
            padding: 8px
            border-radius: 5px
            span      
              font-size: 20px
              font-weight: 700 
              font-family: "roboto"
              color: $text-primary
          .button 
            font-family: "roboto"
            padding: 5px 0
            margin-top: .2em
            background-color: $gris-medio
            border: 2px solid $gris-medio
            color: $azul
            border-radius: 8px
            -webkit-transition: all .9s ease // Safari y Chrome 
            -moz-transition: all .9s ease // Firefox */
            -o-transition: all .9s ease //* IE 9 */
            -ms-transition: all .9s ease //* Opera */
          .button:hover
            background-color: $blanco
            color: $azul
            box-shadow: 0 10px 14px -12px rgba(0, 0, 0,.65)
            border: 2px solid $azul  
    .woocommerce-pagination
      .page-numbers //ul
        li       
          span 
            font-family: "roboto"
          span.current 
            background: $azul
            color: $blanco
  .wc-block-formatted-money-amount 
    font-family: "roboto"
    font-weight: 700   
.producto
  .contenedor
    display: flex
    justify-content: space-between
    align-content: center
    align-items: flex-start
    flex-wrap: wrap
    .widget-tienda
      max-width: 100%
      width: 100%
      order: 2
      .widget-shop
        padding-bottom: 20px
        .tit 
          text-transform: uppercase
          font-family: "roboto"
          font-size: 19px
          line-height: 35px
          text-align: left
          color: $azul
          position: relative
          border-bottom: 2px solid $azul
        .product-categories
          border-right: 1px solid #f1f1f1
          box-shadow: 0 10px 14px -12px rgba(0, 0, 0,.65)
          padding-bottom: 10px
          li
            text-align: left
            padding-left: 15px
          li::before
            content: "\f2dc"  
            font-family: "font-aweson"
            font-size: 11px
            color: $azul
            vertical-align: middle
            padding-right: 5px
        ul.product_list_widget
          border-right: 1px solid #f1f1f1
          box-shadow: 0 10px 14px -12px rgba(0, 0, 0,.65)
          
          li 
            border-bottom: 1px solid #f2f2f2
            margin: 5px 0
            color: transparent 
            font-size: 0px
            line-height: 0px
            img 
              order: 1
              float: left
              margin-right: 5px
            .product-title
              order: 2 
              text-align: left
              display: block 
              font-weight: 400
              line-height: 33px
            .amount
              display: none  
    .woocommerce   
      max-width: 100%
      width: 100%
      order: 1
      .single-product
        .product
          .summary
            padding-bottom: 20px
            .woocommerce-product-details__short-description
              text-align: left
              padding: 2px 0 10px
              font-family: "roboto"
              font-size: 20px
            .price
              text-align: center
              padding: 20px 0
              span      
                font-size: 25px
                font-weight: 700 
                font-family: "roboto"
                color: $text-primary
            .cart
              display: flex
              justify-content: center
              align-items: flex-start
              align-content: center
              flex-wrap: nowrap
              button.button.alt 
                background: $azul
                font-family: "roboto"
                border: 2px solid $azul
                border-radius: 8px
                margin-left: 15px
              button.button.alt:hover
                background-color: $blanco
                color: $azul
                box-shadow: 0 10px 14px -12px rgba(0, 0, 0,.65)
            .product_meta
              text-align: center
              span 
                font-family: "roboto"
                display: block
              span.sku_wrapper, .span.sku 
                display: inline-block  
          .wc-tab
            text-align: left
            font-family: "roboto" 
            padding-bottom: 20px
            h2 
              padding: 10px 0
              font-weight: 700
            p 
              padding-bottom: 10px  
          .related, .upsells
            h2
              padding-bottom: 15px
              font-weight: 700
              font-size: 25px
              font-family: "roboto"
            .products //ul
              li 
                img 
                  min-height: 176px
                  object-fit: cover
                .price 
                  position: absolute
                  top: 5px
                  left: 5px
                  background: $blanco
                  color: $text-primary
                  padding: 5px 10px
                  border-radius: 8px
                  font-weight: 700
                  font-size: 20px  
                .woocommerce-loop-product__title
                  font-size: 16px  
                  min-height: 50px
                  padding-bottom: 5px
                .button
                  background: $azul
                  font-family: "roboto"
                  border: 2px solid $azul
                  border-radius: 8px
                  color: $blanco
                  margin-top: 0
                .button:hover
                  background: $blanco
                  color: $azul
                  box-shadow: 0 10px 14px -12px rgba(0, 0, 0,.65)
//FIN PAGINA TIENDA ////////////////////
//PAGINA CARRITO /////////////////////////////////////    
.tienda
  .contenedor
    .woocommerce
      font-family: "roboto"
      .woocommerce-cart-form
        th, td, span.amount
          font-family: "roboto"
      .cart-collaterals
        .cart_totals
          h2, tr 
            font-family: "roboto" 
      .wc-proceed-to-checkout
        a.button 
          background: $azul 
          border: 2px solid $azul 
          border-radius: 8px
          -webkit-transition: all .9s ease // Safari y Chrome 
          -moz-transition: all .9s ease // Firefox */
          -o-transition: all .9s ease //* IE 9 */
          -ms-transition: all .9s ease //* Opera */
        a.button:hover
          background: $blanco
          color: $azul  
      .woocommerce-info, .checkout
        font-family: "roboto" 
      button.button.alt 
        background: $azul 
        border: 2px solid $azul 
        border-radius: 8px
        -webkit-transition: all .9s ease // Safari y Chrome 
        -moz-transition: all .9s ease // Firefox */
        -o-transition: all .9s ease //* IE 9 */
        -ms-transition: all .9s ease //* Opera */   
      button.button.alt:hover
        background: $blanco
        color: $azul 
      .woocommerce-MyAccount-navigation
        float: none
        width: 100%
        border: 2px solid $azul
        border-radius: 8px
        margin-bottom: 30px
        ul 
          flex-wrap: wrap
        .is-active
          a
            color: $azul
      .woocommerce-MyAccount-content
        margin-bottom: 30px
        float: none
        width: 100%  
        p 
          padding: 10px 
      .addresses
        .title
          background: $azul
          color: $blanco  
          padding: 8px 10px
          border-radius: 8px
          a 
            color: $blanco
        .woocommerce-Address
          width: 100%  
          margin-bottom: 20px 
        address 
          text-align: left
          padding: 5px 15px
          line-height: 25px    
//FIN PAGINA CARRITO ////////////////////////////////////////////////////    
//PAGINA VARIMAR /////////////////////////////////////////////////////
.varimar
  .contenedor
    .bloques-text
      .container
        .bloque
          display: flex
          justify-content: space-between
          align-content: center
          align-items: center
          flex-wrap: wrap
          width: 100%
          height: 100%
          .col-img, .col-text
            max-width: 100%
            width: 100%
          .col-img
            height: auto
            img
              max-height: 300px
              width: 100%
              height: 100%
              object-fit: cover
              object-position: center
          .col-text
            display: flex
            justify-content: center
            align-items: center
            align-content: center
            flex-wrap: wrap
            padding-bottom: 20px
            .tit
              font-family: "roboto"
              font-size: 22px 
              color: $azul
              text-align: center
              padding: 20px 10px 
              display: block
              font-weight: 700
            p
              font-size: 16px
              color: $text-primary
              font-family: "roboto" 
              padding: 0px 10px 20px
              line-height: 18px
            ul  
              text-align: left
              padding: 0 20px 20px
              li 
                font-size: 15px
                line-height: 18px
                color: $text-primary
                font-family: "roboto"
                list-style-type: square
                list-style-position: inside
                ul 
                  padding-bottom: 0
                  li 
                    list-style-type: circle
                    list-style-position: inside
        .img-text
          .col-img
            order: 1
          .col-text
            order: 2
        .text-img  
          .col-img
            order: 1
          .col-text
            order: 2 
        .bloque-2, .bloque-4
          background-color: #f2f2f2    
//FIN PAGINA VARIMAR ////////////////////////////////////////////////////   
.pag-interna
  .contenedor
    padding: 40px 0  
/**CSS FOOTER ------------------------------------------ **/
footer 
  .footer
    .fondo
      width: 100%
      max-width: 100%
      background: $gris-medio
      .contenedor
        max-width: 95%
        width: 100%
        margin: 0 auto
        overflow: hidden
        height: 100%
        .bloques
          position: relative
          overflow: hidden
          display: flex
          justify-content: space-around
          align-items: stretch
          flex-wrap: wrap
          align-content: center
          padding: 30px 0
          max-width: 1200px
          margin: 0 auto
          .bloque
            p, a 
              color: $text-primary
              font-family: "roboto"
              font-size: 16px
              line-height: 23px
              font-weight: 500
              i 
                padding: 0 5px
            p 
              padding-bottom: 10px 
            a:hover
              color: $azul   
            .tit
              color: $text-primary
              font-family: "open-sans" 
              font-weight: 700    
              font-size: 20px
              line-height: 30px   
          .widget-izquierda
            order: 3
            max-width: 100%
            width: 100%
            padding: 30px 10px 10px
            .widget-footer-1
              text-align: center
              li 
                padding:  5px 0
                p, a 
                  color: $text-primary
                  font-family: "roboto"
                  font-size: 16px
                  line-height: 23px
                  font-weight: 400
                a:hover
                  color: $azul
                  font-weight: 500
              img 
                max-width: 120px!important
                height: auto
                margin-bottom: 15px
          .widget-centro 
            display: none
            padding: 10px
            order: 1
            max-width: 45%
            width: 100%
            .widget-footer-2
              text-align: center
              padding-bottom: 30px
              ul 
                li 
                  padding: 5px 0
                  p, a 
                    color: $text-primary
                    font-family: "roboto"
                    font-size: 16px
                    line-height: 23px
                    font-weight: 400
                  a:hover
                    color: $azul  
                    font-weight: 500
            .rrss
              padding: 0 10px
              text-align: center
              padding-bottom: 20px
              a 
                color: $blanco
                background-color: $azul
                display: inline-block
                padding: 5px
                font-size: 20px
                transition: all 500ms linear
                -webkit-transition: all 500ms linear
                -moz-transition: all 500ms linear
                -o-transition: all 500ms linear
                padding: 4px 5px 0px
              a:hover
                color: $blanco    
                background-color: $azul-dark   
                transition: all 500ms linear
                -webkit-transition: all 500ms linear
                -moz-transition: all 500ms linear
                -o-transition: all 500ms linear              
          .widget-derecha
            padding: 10px
            order: 2
            max-width: 45%
            width: 100%
            .widget-footer-3
              text-align: center
              ul 
                li 
                  padding: 5px 0
                  p, a 
                    color: $text-primary
                    font-family: "roboto"
                    font-size: 16px
                    line-height: 23px
                    font-weight: 400
                  a:hover
                    color: $azul  
                    font-weight: 500
              .textwidget
                p, a 
                  color: $text-primary
                  font-family: "roboto"
                  font-size: 16px
                  line-height: 23px
                  font-weight: 400
                a:hover
                  color: $azul  
                  font-weight: 500      
              .tarjetas
                max-width: 110px!important  
                padding: 10px 0
          .widget-imagenes
            width: 100%
            order: 4   
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            flex-wrap: wrap 
            .widget-img 
              display: inline-block 
              margin: 10px 
              img 
                max-height: 80px
                width: auto
                height: 100%
              
  .sub-footer
    .contenedor
      max-width: 1200px
      width: 90%
      margin: 0 auto
      .widget-subfooter
        display: block
        .textwidget
          display: flex
          justify-content: center
          align-content: center
          align-items: center
          flex-wrap: wrap
          p, a, div
            font-family: "roboto"
            font-size: 14px
          .legales
            text-align: center
            padding: 5px 0
            a 
              padding: 5px 10px
              display: inline-block
              text-decoration: none
              color: $text-subfooter
              line-height: 18px
            a:hover
              color: $azul  
          .barra
            display: inline-block
            padding: 0 5px
            font-size: 14px
            color: $text-subfooter
          p 
            text-align: center
            width: 100%
            line-height: 1.6em
            color: $text-subfooter
          .pmtk
            img 
              max-height: 12px
              width: auto 
               
         
//estilos página 404 error              
.error-message
  font-size: 140px
  font-weight: 700  

//estilos breadcrumb
.breadcrumb
  width: 80%
  max-width: 1200px
  margin: 0 auto
  padding: 20px
  a,p
    font-family: "roboto"
    font-size: 16px
    font-weight: 400
  a
    transition: all .1s linear
    &:hover
      color: #000


