@font-face
  font-display
@mixin breakpoint($point)
  @if $point == 'desktop'
    @media (max-width:1903px) and (min-width: 1200px)
      @content

  @else if $point == 'laptop'
    @media (min-width:1074px)
      @content

  @else if $point == 'tablet'
    @media (min-width: 768px)
      @content

  @else if $point == 'responsive'
    @media (max-width: 768px)
      @content

  @else if $point == 'mobile'
    @media (min-width: 570px)
      @content

  @else if $point == 'mobile-sm'
    @media (min-width: 344px)
      @content

  @else if $point == 'mobile-ssm'
    @media (max-width: 344px)
      @content    

////////////////   RESPONSIVE  ////////////////////////
@include breakpoint('desktop')
@include breakpoint('laptop') 
  .main-header
    .center
      padding-top: 100px
    .izquierda
      .logo-menu
        .logo
          a
            padding: 10px  
  .sticky-nav
    .center
      padding-top: 50px   
  .home
    main
      .contenedor
        .bloques
          .fondo
            img 
              object-fit: fill       
  .categoria
    ul 
      li 
        .woocommerce-loop-category__title
          font-size: 27px!important
          line-height: 30px
  .producto
    .contenedor
      .widget-tienda
        max-width: 20%
        order: 1
      .woocommerce
        max-width: 75%
        order: 2
        .single-product
          .product
            .related
              .products
                li 
                  img 
                    min-height: 264.59px
@include breakpoint('tablet')
  .varimar
    .contenedor
      .bloques-text
        .container
          .img
            .col-img
              width: 100%
              max-width: 100%
          .text
            .col-text
              width: 100%
              max-width: 100%
          .img-text, .text-img
            .col-img, .col-text
              width: 50%
              max-width: 600px
          .bloque    
            .col-img
              height: 450px 
              img
                max-height: 450px 
            .col-text
              p
                font-size: 18px 
                line-height: 22px
              ul 
                li 
                  font-size: 18px 
                  line-height: 22px    
          .text-img  
            .col-img
              order: 2
            .col-text
              order: 1  
  .banner-interna
    .titulo
      top: 40%
  .nuevos
    .wc-block-grid__product-title
      min-height: 40px
  .wc-block-grid__product
    .wc-block-grid__product-image
      max-height: 100%  
  .categoria
    ul 
      justify-content: space-between
      gap: 20px  
  .tienda
    .contenedor
      .products
        li 
          a 
            img 
              min-height: 264px 
  .producto
    .contenedor
      .woocommerce
        .single-product
          .product
            .summary
              .price
                text-align: left  
              .cart
                display: block
                width: 100% 
              .product_meta
                text-align: left  
            .related
              h2 
                display: block
                padding-top: 10%
                font-family: "roboto"
                line-height: 40px 
              .products
                li 
                  img   
                    min-height: 157px
                  .woocommerce-loop-product__title
                    line-height: 25px
                    padding-top: 5px
                    padding-bottom: 0                   
@include breakpoint('responsive')
  .categoria
    ul 
      li 
        margin: 10px!important 
        width: 43%!important       
@include breakpoint('mobile') 
  .nuevos
    .pro-nuevos
      .woocommerce
        ul.products 
          li.product 
            width: 30.75%
  .text-img
    .container
      .col-img
        max-width: 35%
      .col-text
        max-width: 63% 
        .tit
          padding: 0 10px 20px         
  .bloque-iconos
    .icono
      width: 25%
      max-width: 300px
  .top-header
    .content
      .cont-top
        .whatsapp, .tel-header
          a
            font-size: 16px
          i
            font-size: 20px
          img
            max-width: 24px
  .main-header
    .content
      .logo-menu
        .logo
          a::before, a::after
            display: inline-block
            img 
              max-height: 86px
              transition: all 0.3s ease-in-out 0s
    .center
      .logo-menu
        .logo
          top: 0
          right: calc(50% - 139px) 
          transition: all 0.3s ease-in-out 0s
          left: auto
          a 
            filter: drop-shadow(2px -3px 5px rgba(0,0,0, 0.65))
            img 
              max-height: 86px
        .sticky
          right: calc(50% - 85px)
          transition: all 0.3s ease-in-out 0s
          a
            img 
              transition: all 0.3s ease-in-out 0s
              max-height: 45px
  footer 
    .footer
      .fondo
        .contenedor
          .bloques
            justify-content: space-between
            .widget-centro, .widget-derecha, .widget-izquierda
              max-width: 30%  
            .widget-izquierda
              order: 1
              padding: 10px
              .widget-footer-1
                text-align: left
            .widget-centro
              order: 2
              display: inline-block
            .widget-derecha
              order: 3   
              .widget-footer-3
                text-align: right 
    .sub-footer
      .contenedor
        .widget-subfooter
          .textwidget
            justify-content: space-between 
@include breakpoint('mobile-sm')
@include breakpoint('mobile-ssm')
  .main-header
    margin-top: 75px
    .center
      .logo-menu
        .logo
          top: 80px
  button#responsive-menu-button
    top: 90px!important 
  .top-header
    .content
      .cont-top
        .whatsapp, .tel-header
          display: block
          max-width: 100%
          width: 100%    
  .banner-home
    margin-top: 176px 
  .categoria
    ul 
      li 
        width: 100%!important 
        margin: 0 0 2.992em!important  
  .producto
    .contenedor
      .woocommerce
        .single-product
          .product
            .related
              .products
                li 
                  width: 100%           