*
/* //RESET CSS ERIC MEYER SASS ////////////////////////////////////////////// */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1

ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0
/* //FIN RESET CSS ERIC MEYER /////////////////////////////////////////////// */
/* VARIABLES     //////////////////////////////////////////////////////////// */
$ancho-limitado: 1200px
$ancho-limitado-top-header: 1200px
$ancho-limitado-sub-footer: 1200px
$ancho-limitado-footer: 1200px
$ali-der: 3
$ali-cen: 2
$ali-izq: 1
/* CSS HEADER //////////////////////////////////////////////////////////////  */
#responsive-menu-container
  .logo-menu-responsive
    img
      max-width: 90%
      margin: 0 auto                      
.access
  margin-top: 30px
  display: inline-block
  width: 100%
  text-align: center 
  a 
    padding: 20px!important    
    i 
      font-size: 40px     
      display: inline-block
.main-header
  display: flex
  margin: 0 auto
  align-items: center
  align-content: center
  flex-wrap: nowrap
  justify-content: space-between
  &:first-child
    text-align: left
  &:last-child
    text-align: right
  .contenedor
    display: flex
    align-items: center
    align-content: center
    justify-content: space-between
    flex-direction: row
    // position: relative
    z-index: 10
nav
  order: 2
  // position: relative
  ul
    display: inline-flex
    flex-wrap: nowrap
    li
      padding: 20px
      // position: relative
      a
        text-decoration: none
        width: 100%
        padding: 0
    li:hover
      // position: relative
.ali-derecha
  order: $ali-der
  text-align: right
.ali-izquierda
  order: $ali-izq
  text-align: left
.ali-centro
  order: $ali-cen
  text-align: center
  margin: 0 auto
/*Top Header */
.top_header
  display: flex
  margin: 0 auto
  align-items: center
  align-content: center
  flex-wrap: nowrap
  justify-content: space-between
  
/* css contenedor /////////////////

/* CSS FOOTER /////////////////////////////////////////////////////////////// */

.footer
  display: flex
  margin: 0 auto
  align-items: center
  align-content: center
  flex-wrap: wrap
  justify-content: center
  
/* Sub-Footer */
.ancho-limitado-sub-footer
  width: $ancho-limitado-sub-footer
.ancho-completo-sub-footer
  width: 100%
.sub-footer
  display: flex
  margin: 0 auto
  align-items: center
  align-content: center
  flex-wrap: nowrap
  justify-content: space-between
  
/* CSS CUERPO /////////////////////////////////////////////////////////////// */
.fa, .fas
  font-family: 'Font Awesome 5 Free'
  font-weight: 900
body  
  box-sizing: border-box  
.full-width
  width: 100%
  display: block
  padding: 0 10px
.width-limitado
  max-width: $ancho-limitado
  width: 100%
  margin: 0 auto
  display: block
  padding: 0 10px
/**CSS TEXTO FOOTER SEO TIRA DE NIÑOS --------------------*/
#tira-seo, .footer-seo
  padding: 0
  .wrap-with
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: nowrap
    align-content: center
    align-items: center
    .parallax-visible
      width: 100%
      .fondo
        // padding: 1em
        .contenedor
          .titulo-footer
            font-size: 17px
            letter-spacing: 0
            font-weight: 700
            text-align: center
            a
              text-align: center
              cursor: pointer
              i
                padding-left: 15px
                padding-right: 15px 
            a:link, a:visited
              text-decoration: none
              align-items: center
    .contenedor          
      .parallax-content
        overflow: hidden
        .parallax-content-inner
          padding-bottom: 2em
          text-align: justify
          line-height: 1.7em
          //column-count: 2
          padding-bottom: 20px
          h2
            padding: 15px 0
  .short
    transition: all 1s linear
    max-height: 0
    opacity: 0
  .large
    transition: all 1s linear
    max-height: 2000px
    opacity: 1
/**FIN CSS FOOTER SEO  */
/*CSS PAGINA CONTACTO ///////////////////////////////*/

//PAGINA LEGAL
.legal
  padding-top: 310px 
  .contenedor
    .bloque-content
      
      padding: 50px 20px 150px 20px 
      h2, h3 
        
        line-height: 40px
      h2  
        font-size: 28px
        padding: 40px 0 20px 0
      h3 
        font-size: 25px 
        padding: 20px 0 10px 0 
      p 
        font-size: 15px
        line-height: 1.6em
        padding-bottom: 20px  
//PAGINA DEFAULT
.default
  padding: 60px 0
  text-align: left
 
  .contenedor
    margin: 0 auto
    .bloque-content
      padding: 0 20px
      max-width: 100%
  ul 
    list-style: square 
    padding: 10px 20px
    li 
      line-height: 25px
      ul 
        list-style: none
        li::before
          content: '✓'
  h1 
    
    font-size: 28px
    padding: 50px 0
  h2, h3, h4
    font-size: 25px
    font-weight: 700
    
    padding: 30px 0 15px
  P 
    font-size: 14px
    padding-bottom: 20px  
  img
    max-width: 90% 
    text-align: center
  .no-found
    width: 90%
    margin: 0 auto
    text-align: center
    padding: 40px 0 
       
//CSS PARA ACORDEÓN SIN JAVASCRIPT
#acordeon
  .transition
    transition: all 0.25s ease-in-out
  .flipIn
    animation: flipdown 0.5s ease both
  .no-select
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  .tit
    padding-left: 20px
    font-size: 25px
    line-height: 34px
    font-weight: 300
    letter-spacing: 1px
    display: block
    margin: 0
    cursor: pointer
    @extend .no-select
  .contenido
    padding: 0 20px
    color: #000
    font-size: 17px
    line-height: 26px
    letter-spacing: 1px
    position: relative
    overflow: hidden
    max-height: 800px
    @extend .transition
    opacity: 1
    transform: translate( 0 , 0 )
    margin-top: 14px
    z-index: 2
  ul
    // list-style: none 
    perspective: 900
    padding: 0
    margin: 0
    li
      position: relative
      padding: 0
      margin: 0
      padding-bottom: 4px
      padding-top: 18px
      border-top: 1px solid #000
      @extend .flipIn

      &:nth-of-type(1)
        animation-delay: 0.5s

      &:nth-of-type(2)
        animation-delay: 0.75s

      &:nth-of-type(3)
        animation-delay: 1.0s

      &:last-of-type
        padding-bottom: 0

      i
        position: absolute
        transform: translate( -6px , 0 )
        margin-top: 16px
        left: 0
        padding-right: 20px
        &:before , &:after
          content: ""
          @extend .transition
          position: absolute
          background-color: #000
          width: 3px
          height: 9px

        &:before
          transform: translate( -2px , 0 ) rotate( 45deg )

        &:after
          transform: translate( 2px , 0 ) rotate( -45deg )

      input[type=checkbox]
        position: absolute
        cursor: pointer
        width: 100%
        height: 100%
        z-index: 1
        opacity: 0

        &:checked
          &~div
            margin-top: 0
            max-height: 0
            opacity: 0
            transform: translate( 0 , 50% )

          &~i
            &:before
              transform: translate( 2px , 0 ) rotate( 45deg )

            &:after
              transform: translate( -2px , 0 ) rotate( -45deg )

  @keyframes flipdown
    0%
      opacity: 0
      transform-origin: top center
      transform: rotateX(-90deg)
    5%
      opacity: 1
    80%
      transform: rotateX(8deg)
    83%
      transform: rotateX(6deg)
    92%
      transform: rotateX(-3deg)
    100%
      transform-origin: top center
      transform: rotateX(0deg)
